<%
const param = {
  title: 'TOP',
  path: './'
}
%>
<%- include(`${param.path}@include/_header`, {param: param}) %>
<body>
  <main class="main" id="main">

    <div class="wrapper">
      <ol class="list">
        <li class="list__item">
          <section class="card">
            <div class="card__header">
              <div class="card__img">
                <img src="./assets/img/cat01.jpg" alt="">
              </div>
            </div>
            <div class="card__body">
              <h2 class="card__title" data-matchHeight="test">タイトル<br>タイトル</h2>
              <div class="card__text">
                <p>テキストテキスト</p>
              </div>
            </div>
            <div class="card__footer">
              <a class="button" href="">ボタン</a>
            </div>
          </section>
        </li>
        <li class="list__item"></li>
        <li class="list__item"></li>
        <li class="list__item"></li>
      </ol>
    </div>

  </main>
</body>
<%- include(`${param.path}@include/_footer`, {param: param}) %>
