.list {
  margin-left: -20px;
  margin-top: -20px;
  &__item {
    float: left;
    width: percentage(1/3);
    padding-left: 20px;
    padding-top: 20px;
    &:last-child::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}